body {
  margin: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  height: fit-content;
}

.title-text {
  font-family: "Franklin Gothic Book", Arial;
  font-weight: bolder;
  font-size: 36px;

  margin: 0;

  color: white;

  text-shadow: 3px 3px 3px #1F48A2;
  font-smooth:never;
}

.body-text {
  font-family: "Franklin Gothic Book", Arial;

  /* margin: 0; */

  color: white;

  font-size: 14px;
}

.header-text {
  font-family: "Franklin Gothic Book", Arial;

  /* margin: 0; */

  color: white;

  font-size: 22px;

  font-weight: bold;
}
